<app-hearder></app-hearder>

<div class="body">
   

    <div class="card">
    <h3>Envoi d’un nouveau mot de passe</h3>
    <div class="mb-1 col-12">
        <label for="exampleFormControlInput1" class="form-label">Quelle est votre adresse e-mail ?</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
     
      <div class="d-grid gap-2 col-sm-12">
        <button class="btn btn-primary  val" type="button">Envoyer le mot de pass</button>
      </div>
    </div>
    

   
</div>

