.body {
    width: 100%;
    height: 800px;
    background-color: black;
    scroll-behavior: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.card {
    width: 30%;
    height: auto; /* Ajout d'une hauteur maximale */
    padding: 10px;
    background-color: #fff;
    position: relative;
    z-index: 10;
    overflow-y: auto; /* Pour permettre le défilement si le contenu dépasse la hauteur */
    display: flex; /* Pour centrer le contenu de la carte si nécessaire */
    flex-direction: column;
   
    align-items: center;
    border-radius: 25px;
}
.pr{
    /* border: 1px solid black; */
    height: 40px;
    display: flex;
    justify-content: space-between;
}
button{
    border: 1px solid #ccc;
    color: black;
    
}
button:hover{
    background-color: #ccc;
   
}
.lien{
    width: 100%;
    height: auto;
    color: black;
    display: flex;
    justify-content: flex-start;
}
.lien a{
    color: black;
    border-bottom: 1px dashed #000;
    line-height: auto;
}
.val{
    background-color: rgb(27, 87, 87);
    margin-top: 30px;
    color: white;
}

