/* styles.css ou le fichier CSS de ton composant */
.navbar {
    transition: top 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    /* Assurez-vous que la couleur de fond est définie */
    width: 100%; /* Assurez-vous que la largeur est 100% */
    /* position: fixed; */
    margin-bottom: 100px;
}

/* Barre de recherche centrée, cachée par défaut */
.search-bar {
    display: none; /* Cachée par défaut */
    max-width: 300px; /* Limite la taille de la barre de recherche */
    flex-grow: 1;
}

/* Supprime l'icône du chevron */
.nav-link.dropdown-toggle.pp::after {
    display: none; /* Supprime l'icône du chevron */
}

/* Lorsque la navbar devient fixe */
.navbar-fixed {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
    /* Fond blanc pour la navbar fixe */
    background-color: white; /* Assurez-vous que la couleur de fond est définie */
    box-shadow: 0 4px 6px rgba(126, 117, 117, 0.1); /* Ombre portée légère */
}

/* Afficher la barre de recherche lorsque la navbar est fixe */
.navbar-fixed .search-bar {
    display: flex; /* Afficher la barre de recherche */
}

/* Cacher le sous-menu par défaut */
.navbar-nav .dropdown-menu {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}

/* Afficher le sous-menu lors du hover */
.navbar-nav .dropdown:hover .dropdown-menu {
    display: block;
    opacity: 1;
    position: absolute;
    padding: 10px;
    color: black;
}
.dropdown-menu li a {
    color: black;
  }

/* Styles de la barre de recherche */
.search {
    width: auto;
    height: 50px;
    display: flex;
    align-items: center; /* Centrer verticalement */
    margin-top: 20px;
    border: 1px solid rgb(46, 45, 45);
    background-color: #fff9f991;
    border-radius: 5px;
    padding: 5px;
}

/* Style du placeholder dans la barre de recherche */
input[type="text"]::placeholder {
    color: #888; /* Remplacez #888 par la couleur souhaitée */
    font-style: italic; /* Vous pouvez également appliquer d'autres styles comme l'italique */
    font-size: 13px;
}

/* Style du champ de texte */
input[type="text"] {
    margin-top: 4px;
    width: 100%; /* Assurez-vous que le champ de texte prend la largeur disponible */
}

/* Style du select */
.select {
    width: 100px;
    padding: 0px;
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(226, 223, 223);
    color: black;
    border-radius: 5px;
    border: 1px solid rgb(46, 45, 45);
    margin-left: 15px;
    height: 35px;
}

/* Style du select personnalisé */
.custom-select {
    border: none;          /* Supprime la bordure */
    outline: none;         /* Supprime le contour de focus par défaut */
    background: transparent; /* Optionnel : rend le fond transparent pour une apparence plus épurée */
}

/* Style du champ de texte personnalisé */
.input-text {
    border: none;          /* Supprime la bordure */
    outline: none;         /* Supprime le contour de focus par défaut */
    background: transparent;
    margin-left: 20px;
    width: 240px;
}

/* Style de l'élément bit */
.bit {
    background-color: rgb(144, 223, 223);
    color: white;
    padding: 10px;
}

/* Style de la ligne de séparation */
.milieu {
    width: 1px;
    background-color: #ccc;
    margin-left: 15px;
}

a{
    text-decoration: none;
  }
