<div class="head">
    <h1>Membership</h1>
</div>
<div class="content">
    
    <form [formGroup]="data" (ngSubmit)="validation()"> 
        <b>Student name</b><br> <input type="text" name="nom"  placeholder="Student name" required formControlName="nom"><br><br>
        <b>Address</b> <br><textarea name="address" placeholder="Enter address here" formControlName="address"></textarea><br><br>
        <b>Gender :</b> <input type="radio" name="gender" value="Male" formControlName="gender" >Male<input type="radio" name="gender" value="femelle" formControlName="gender">Female<br>
        <br>
        <b>Department</b>  
        <select name="dept" formControlName="dept" >
          
            <option *ngFor="let dept of depatement" [value]="dept" > {{dept}} </option>			
            
        </select> <br>
        <b>Year</b>
        <select name="yr" formControlName="yr"  >
            <option *ngFor="let yr of year" [value]="yr" > {{yr}} </option>				
           
            
        </select><br><br>
        <input type="file" (change)="selectFule($event)">
        <br><br>
        <input type="submit" name="submit" value="Register">
        <input type="reset" name="reset" value="Cancel">
    </form>
</div>
