

<div class="container-fluid box">
  <div class="card">
  
    <div class="row row2">
      <form action="" class="row"[formGroup]="con_registe" (ngSubmit)="login()" >
       

        <div class="col-lg-12 champs">
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="numero mobile ou email" formControlName="contact">
        </div>

        <div class="col-lg-12 champs">
          <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="nouveau password" formControlName="password" >
        </div>

      <div class="col-lg-12 ">
        <div class="d-grid gap-2">
          <button class="btn btn-primary btn-lg" type="submit" style="width: 100%;"[disabled]="con_registe.invalid"  >se connecter</button>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-12 ">
          <p style="text-align: center; margin-top: 15px;"><a href="">mot de pass oublier</a></p>
        </div>
      </div>

      <div class="col-lg-12 divider">
      </div>
      <div class="col-lg-12 valid ">
        <div class="d-grid gap-2">
          <button class="btn btn-success btn-lg" type="button" style="width: 100%;">creer nouveau compte</button>
        </div>
      </div>
        
      </form>
    </div>
  </div>

</div>