.nav2 {
    width: 470px;
    background-color: #f8f9fa; /* Couleur de fond pour la navigation */
    padding: 10px;
    margin:30px auto ;
  }
  
  .box {
    list-style-type: none; /* Supprimer les puces des listes */
    padding: 0;
    margin: 0;
    display: flex; /* Disposer les éléments en ligne */
    justify-content: space-around; /* Espacer les éléments */
  }
  
  .box li {
    margin: 0;
  }
  
  .box a {
    text-decoration: none; /* Supprimer le soulignement des liens */
    color: #333; /* Couleur du texte */
    padding: 10px 20px; /* Espacement autour du texte */
    font-size: 16px; /* Taille du texte */
    display: block; /* Le lien prend toute la largeur du conteneur li */
  }
  
  .box a.active, .box a:hover {
    background-color: #000; /* Fond noir pour le lien actif ou au survol */
    color: #fff; /* Couleur du texte en blanc */
    border-radius: 25px; /* Coins arrondis */
  }
  .nav3 {
    width: auto;
    margin: 0px auto;
    display: flex;
    align-items: center;
    margin-left: 50px;
  }
  .cards{
    width: 320px;
    background-color: #f8f9fa; 
    padding: 10px;
    margin-top: 70px;
    margin-left: 100px;
   }
   
   .parent{
    width: 85%;
    height: auto;
    display: flex;
    justify-content: space-between;
    /* background-color: #000; */
    padding:20px 0px;
    margin: 20px auto;
   }
   .parent .child1{
    width: 35%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: #fff; */
   }
   .child1 .image{
    width: 80px;
    height: 80px;
    border-radius: 100%;
    background-color: red;
   }
   .ptit{
    width: auto;
    display: flex;
    justify-content: space-around;
   }

   .log{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: red;
    display: flex;
    align-items: center;
    justify-content: center;
   }

   .child2{
    width: 60%;
    height: auto;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
   }
   .careau{
    width: 22%;
    height: 100%;
    /* background-color: #000; */
    border-radius: 15px;
   }
   .careau img{
    width: 100%;
    height: 100%;
    border-radius: 15px;
   }
   .titre{
    font-size: 50px;
    font-weight: bold;
   }
   .image img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
   }