<app-hearder2></app-hearder2>
<div class="nav2">
    <ul class="box">
        <li><a [routerLink]="['/accueil/home']"  >accueil</a></li>
        <li><a [routerLink]="['/video/home']">video</a></li>
        <li><a [routerLink]="['/classement/home']" class="active" >classement</a></li>
        <li><a [routerLink]="['/concour/home']">concours</a></li>
    </ul>
</div>
<div class="nav2"><h2>Classement</h2></div>
<div class="nav3"><p class="nav3">Membres ayant le plus de vues sur les contenus ajoutés au cours des 4 dernières semaines.</p></div>