<app-hearder2></app-hearder2>
<div class="nav2">
    <ul class="box">
        <li><a [routerLink]="['/accueil/home']"  >accueil</a></li>
        <li><a [routerLink]="['/video/home']">video</a></li>
        <li><a [routerLink]="['/classement/home']" class="active" >classement</a></li>
        <li><a [routerLink]="['/concour/home']">concours</a></li>
    </ul>
</div>

<div class="nav2">
    <ul class="box">
        <h2>Classement</h2>
    </ul>
    <p style="width: auto;margin: 0px auto;text-align: center; font-size: 13px;">Membres ayant le plus de vues sur les contenus ajoutés au cours des 4 dernières semaines.</p>

</div>




<div class="cards">
    <ul class="box">
        <li><a [routerLink]="['/classement/home']" class="active" >Récemment</a></li>
        <li><a [routerLink]="['/concour/home']">Général</a></li>
    </ul>
</div>

<div class="parent">
    <div class="child1">
        <div class="num"><h1 class="titre">1</h1></div>
        <div class="image"><img src="https://picsum.photos/600/400?image=23" /></div>
        <div class="info">
            <p>Rahim GULL</p>
            <p>77 Million folower</p>
            <div class="ptit" >
                <div class="log"><i class="fas fa-user"></i></div>
                <div class="log"><i class="fas fa-envelope"></i></div>
            </div>
        </div>
    </div>

    <div class="child2">
        <div class="careau"><img src="https://picsum.photos/600/400?image=10" /></div>
        <div class="careau"><img src="https://picsum.photos/600/400?image=23" /></div>
        <div class="careau"><img src="https://picsum.photos/600/400?image=16" /></div>
        <div class="careau"><img src="https://picsum.photos/600/400?image=18" /></div>
    </div>
</div>
<div class="parent">
    <div class="child1">
        <div class="num"><h1 class="titre">2</h1></div>
        <div class="image"><img src="https://picsum.photos/600/400?image=23" /></div>
        <div class="info">
            <p>Rahim GULL</p>
            <p>77 Million folower</p>
            <div class="ptit" >
                <div class="log"><i class="fas fa-user"></i></div>
                <div class="log"><i class="fas fa-envelope"></i></div>
            </div>
        </div>
    </div>

    <div class="child2">
        <div class="careau"><img src="https://picsum.photos/600/400?image=10" /></div>
        <div class="careau"><img src="https://picsum.photos/600/400?image=23" /></div>
        <div class="careau"><img src="https://picsum.photos/600/400?image=16" /></div>
        <div class="careau"><img src="https://picsum.photos/600/400?image=18" /></div>
    </div>
</div>

<div class="parent">
    <div class="child1">
        <div class="num"><h1 class="titre">3</h1></div>
        <div class="image"><img src="https://picsum.photos/600/400?image=23" /></div>
        <div class="info">
            <p>Rahim GULL</p>
            <p>77 Million folower</p>
            <div class="ptit" >
                <div class="log"><i class="fas fa-user"></i></div>
                <div class="log"><i class="fas fa-envelope"></i></div>
            </div>
        </div>
    </div>

    <div class="child2">
        <div class="careau"><img src="https://picsum.photos/600/400?image=10" /></div>
        <div class="careau"><img src="https://picsum.photos/600/400?image=23" /></div>
        <div class="careau"><img src="https://picsum.photos/600/400?image=16" /></div>
        <div class="careau"><img src="https://picsum.photos/600/400?image=18" /></div>
    </div>
</div>

<div class="parent">
    <div class="child1">
        <div class="num"><h1 class="titre">4</h1></div>
        <div class="image"><img src="https://picsum.photos/600/400?image=23" /></div>
        <div class="info">
            <p>Rahim GULL</p>
            <p>77 Million folower</p>
            <div class="ptit" >
                <div class="log"><i class="fas fa-user"></i></div>
                <div class="log"><i class="fas fa-envelope"></i></div>
            </div>
        </div>
    </div>

    <div class="child2">
        <div class="careau"><img src="https://picsum.photos/600/400?image=10" /></div>
        <div class="careau"><img src="https://picsum.photos/600/400?image=23" /></div>
        <div class="careau"><img src="https://picsum.photos/600/400?image=16" /></div>
        <div class="careau"><img src="https://picsum.photos/600/400?image=18" /></div>
    </div>
</div>
<app-footer>