<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="papa">
        <app-hearder2></app-hearder2>
    <div class="nav2">
        <ul class="box">
            <li><a [routerLink]="['/accueil/home']"  >accueil</a></li>
            <li><a [routerLink]="['/video/home']">video</a></li>
            <li><a [routerLink]="['/classement/home']"  >classement</a></li>
            <li><a [routerLink]="['/concour/home']" class="active" >concours</a></li>
        </ul>
    </div>
    
    <div class="nav2" id="testo"><h2>Défis</h2></div>
    <div class="nav3"><p style="width: 30%;margin: 0px auto;">Des concours photo et vidéo qui donnent envie de partir en quête des meilleures prises 
        de vue pour les révéler aux yeux du monde. Votre travail pourrait même vous rapporter des prix 
    </p></div>
    
    
    <div class="parent">
        <div class="card1">
            <div class="boy1"> <img src="https://picsum.photos/600/400?image=20" width="100%" height="100%" alt=""></div>
            <div class="boy2">
                <div class="child1"><img src="https://picsum.photos/600/400?image=14" width="100%" height="100%"/></div>
                <div class="child2"><img src="https://picsum.photos/600/400?image=12" width="100%" height="100%"/></div>
            </div>
        
        </div>
        <div class="card2">
            <div class="boy">
                <div class="child"> <span> <div class="blinking-dot">  </div>  </span>14 jour restant</div>
                <div class="child">Avec le soutien de Pexels Africa</div>
            </div>
            <div class="boy">
                <h4>Bazaar Tales: Capturing Africa’s Local Markets</h4>
            </div>
            <div class="boy" id="rad"><p>prix</p></div>
            <div class="boy">
                <div class="bod">participer au concour</div>
                <div class="bod1">en savoir plus</div>
            </div>
        </div>
    
    </div>
    </div>

    <div class="nav2" id="testo" style="color: white;" ><h2>Précédents concours</h2></div>

    <div class="parent" style="margin-bottom:100px; color: white;">
        <div class="card1">
            <div class="boy1"> <img src="https://picsum.photos/600/400?image=20" width="100%" height="100%" alt=""></div>
            <div class="boy2">
                <div class="child1"><img src="https://picsum.photos/600/400?image=14" width="100%" height="100%"/></div>
                <div class="child2"><img src="https://picsum.photos/600/400?image=12" width="100%" height="100%"/></div>
            </div>
        
        </div>
        <div class="card2"style="padding-top: 60px;">
            >    <div class="boy"style="justify-content: flex-start;">
                <div class="child"> <span> <div class="care"></div></span > Terminé</div>
               
            </div>
            <div class="boy" style="justify-content: flex-start;">
                <h4 style="color: white;">Bazaar Tales: Capturing Africa’s Local Markets</h4>
            </div>
            <div class="boy" id="rad"><h4 style="color: white;">En savoir Plus</h4> </div>
           
        </div>
    
    </div>



    <div class="parent" style="margin-bottom:100px ; color: white;">
        <div class="card1">
            <div class="boy1"> <img src="https://picsum.photos/600/400?image=20" width="100%" height="100%" alt=""></div>
            <div class="boy2">
                >        <div class="child1"><img src="https://picsum.photos/600/400?image=14" width="100%" height="100%"/></div>
                <div class="child2"><img src="https://picsum.photos/600/400?image=12" width="100%" height="100%"/></div>
            </div>
        
        </div>
        <div class="card2"style="padding-top: 60px;">
            <div class="boy" style="justify-content: flex-start;">
                <div class="child"> <span> <div class="care"></div></span> Terminé</div>
               
            </div>
            <div class="boy">
                <h4 style="color: white;">Bazaar Tales: Capturing Africa’s Local Markets</h4>
            </div>
            >    <div class="boy" id="rad"><h4 style="color: white;">En savoir Plus</h4> </div>
           
        </div>
    
    </div>




    <div class="parent" style="margin-bottom:100px ; color: white;">
        <div class="card1">
            <div class="boy1"> <img src="https://picsum.photos/600/400?image=20" width="100%" height="100%" alt=""></div>
            <div class="boy2">
                <div class="child1"><img src="https://picsum.photos/600/400?image=14" width="100%" height="100%"/></div>
                <div class="child2"><img src="https://picsum.photos/600/400?image=12" width="100%" height="100%"/></div>
            </div>
        
        </div>
        ><div class="card2" style="padding-top: 60px;">
            <div class="boy"style="justify-content: flex-start;">
                <div class="child"> <span> <div class="care"></div></span> Terminé</div>
               
            </div>
            <div class="boy">
                <h4 style="color: white;">Bazaar Tales: Capturing Africa’s Local Markets</h4>
            </div>
            <div class="boy" id="rad"><h4 style="color: white;">En savoir Plus</h4> </div>
           
        </div>
    
    </div>

    <app-footer></app-footer>
</body>
</html>