<app-hearder2></app-hearder2>
<div class="nav2">
    <ul class="box">
        <li><a [routerLink]="['/accueil/home']"  >Apropos</a></li>
        <li><a [routerLink]="['/accueil/licence']" class="active">licence</a></li>
        <li><a [routerLink]="['/classement/home']"  >Faq</a></li>
       
    </ul>
</div>
<div class="nav2">
    <ul class="box">
      <h1 style="font-size: 35px; text-wrap: nowrap;">Simplicité juridique</h1>
      
    </ul>
    <p class="tt">Toutes les photos et vidéos sur Pexels peuvent être téléchargées et utilisées gratuitement.</p>
</div>

<div class="nav2">
    <ul class="box">
      <p style="font-size: 35px; text-wrap: nowrap;">Qu’est ce qui est autorisé ? 👌</p>
      
    </ul>
   
</div>


<div class="carret">
    <span  class="vv"></span>Toutes les photos et vidéos sur Pexels sont gratuites.
</div>
<div class="carret">
    <span  class="vv"></span>Aucune attribution n’est requise. Mentionner le photographe ou Pexels n’est pas obligatoire, mais toujours apprécié.
</div>

<div class="carret">
    <span  class="vv"></span>Vous pouvez modifier les photos et vidéos de Pexels. Soyez aussi créatif que vous le souhaitez dans vos modifications.
</div>


<div class="nav2">
    <ul class="box">
      <p style="font-size: 35px; text-wrap: nowrap;">Qu’est ce qui n’est pas autorisé ? 👎</p>
      
    </ul>
   
</div>


<div class="carret">
    <span  class="XX">X</span>Les personnes identifiables ne doivent pas apparaître sous un mauvais jour ou d’une façon offensante.
</div>
<div class="carret">
    <span  class="XX">X</span>Ne vendez pas de copies brutes d’une photo ou d’une vidéo. Par exemple, 
    ne les vendez pas comme des photos, affiches, tirages ou sur des produits matériels sans les modifier au préalable.
</div>

<div class="carret">
    <span  class="XX">X</span>Vous pouvez modifier les photos et vidéos de Pexels. Soyez aussi créatif que vous le souhaitez dans vos modifications.
</div>
<div class="carret">
    <span  class="XX">X</span>Ne redistribuez ou ne vendez pas de photos et de vidéos sur d’autres plates-formes de photos ou de fonds d’écran.
</div>



<div class="nav2">
    <ul class="box">
      <h1 style="font-size: 35px; text-wrap: nowrap;">Racontez votre histoire en images</h1>
      
    </ul>
    <p class="tt" style="text-wrap: nowrap;">Toutes les photos et vidéos sur Pexels peuvent être téléchargées et <br> utilisées gratuitement.</p>
</div>

<div class="carde">
    <div class="image"><img src="https://images.pexels.com/photos/6347919/pexels-photo-6347919.jpeg?w=600&h=500&dpr=1" width="100%" height="100%" alt="" style="border-top-left-radius: 70px;"></div>
    <div class="texts">
        <h1>Sur votre site, blog ou application</h1>
        <p>Utilisez les photos et les vidéos en ligne, que ce soit pour un site Web, une boutique en ligne, une newsletter, un e-book, une présentation, un blog ou un modèle que vous vendez. </p>
    </div>
</div>

<div class="carde">
   
    <div class="texts">
        <h1>Mettez en avant vos produits</h1>
        <p>Pour promouvoir vos produits, créez des annonces, des bannières et des campagnes marketing uniques grâce aux photos Pexels. </p>
    </div>
    <div class="image"><img src="https://images.pexels.com/photos/5462207/pexels-photo-5462207.jpeg?w=600&h=500&dpr=1" width="100%" height="100%" alt="" ></div>
</div>


<div class="carde">
    <div class="image"><img src="https://images.pexels.com/photos/8131585/pexels-photo-8131585.jpeg?w=600&h=500&dpr=1" width="100%" height="100%" alt="" ></div>
    <div class="texts">
        <h1>Imprimez votre matériel marketing
        </h1>
        <p>Utilisez les photos pour vos flyers, cartes postales, invitations, magazines, albums, livres, pochettes de CD, et plus encore.</p>
    </div>
</div>

<div class="carde">
   
    <div class="texts">
        <h1>OPartagez-les sur les réseaux sociaux</h1>
        <p>Augmentez votre audience en publiant des photos et des vidéos authentiques et intéressantes sur vos réseaux sociaux tels que Facebook, Instagram ou YouTube.</p> 
    </div>
    <div class="image"><img src="https://images.pexels.com/photos/1813947/pexels-photo-1813947.jpeg?w=600&h=500&fit=crop&dpr=1" width="100%" height="100%" alt="" ></div>
</div>