<div class="animated-box">
    <app-hearder></app-hearder>

    <div class="card-text">
        <div class="text">
            <h1>
                Overexposed Podcast S1 <br>
           E3:#Pexels Tour<br>
            Roadtrip through carlifornia.
            </h1>
        </div>
        

    </div>
</div>


<div class="nav2">
    <ul class="box">
        <li><a [routerLink]="['/accueil/blog']"  class="active">Tout</a></li>
        <li><a [routerLink]="['**']">Actualité</a></li>
        <li><a [routerLink]="['**']">Reportage photo</a></li>
        <li><a [routerLink]="['**']">l'héroïne ou l'héro de la semaine</a></li>
        <li><a [routerLink]="['**']">Ressource</a></li>
        <li><a [routerLink]="['**']">Podcasts</a></li>
        <li><a [routerLink]="['**']">Photographie</a></li>
        
    </ul>
</div>

<div class="nav2">
    <ul class="box">
      <p style="font-size: 35px; text-wrap: nowrap;">  Histoires populaires</p>
      
    </ul>
    <p class="tt">Les histoires les plus lues de la semaine</p>
</div>


<div class="carde">
    <div class="image"><img src="https://images.pexels.com/photos/1190298/pexels-photo-1190298.jpeg?h=400&w=750&fit=crop&dpr=1" width="100%" height="100%" alt=""></div>
    <div class="texts">
        <h1>Overexposed Podcast S1 E1: Kishan Mistry (Photography & Videography)</h1>
        <p>Kishan Mistry is a photographer, videographer, and designer based out of Toronto, Ontario. Kishan got his start 
            early on in his high school days playing around with all different forms and mediums of media. His love for “hoops &amp; music”
             lead him to have worked with the likes of Drake, Migos, Travis Scott, and the Toronto Raptors.
             In this episode, we talk about the importance of 'the hustle' when it comes to pursuing a creative passion. </p>
    </div>
</div>

<div class="carde">
   
    <div class="texts">
        <h1>Overexposed Podcast S1 E1: Kishan Mistry (Photography & Videography)</h1>
        <p>As a self-taught illustrator and designer, David Huynh has amassed nearly 100K followers on Instagram between his own account and Logo 
            Goals, a design feature account he founded. In this episode, we talk about how David turned a creative passion for drawing into a profitable freelance business.  </p>
    </div>
    <div class="image"><img src="https://images.pexels.com/photos/4125508/pexels-photo-4125508.jpeg?h=400&w=750&fit=crop&dpr=1" width="100%" height="100%" alt=""></div>
</div>

<div class="carde">
    <div class="image"><img src="https://images.pexels.com/photos/15786936/pexels-photo-15786936.jpeg?h=400&w=750&fit=crop&dpr=1" width="100%" height="100%" alt=""></div>
    <div class="texts">
        <h1>Overexposed Podcast S1 E1: Kishan Mistry (Photography & Videography)</h1>
        <p>Kishan Mistry is a photographer, videographer, and designer based out of Toronto, Ontario. Kishan got his start 
            early on in his high school days playing around with all different forms and mediums of media. His love for “hoops &amp; music”
             lead him to have worked with the likes of Drake, Migos, Travis Scott, and the Toronto Raptors.
             In this episode, we talk about the importance of 'the hustle' when it comes to pursuing a creative passion. </p>
    </div>
</div>


<div class="carde">
   
    <div class="texts">
        <h1>Overexposed Podcast S1 E1: Kishan Mistry (Photography & Videography)</h1>
        <p>Kishan Mistry is a photographer, videographer, and designer based out of Toronto, Ontario. Kishan got his start 
            early on in his high school days playing around with all different forms and mediums of media. His love for “hoops &amp; music”
             lead him to have worked with the likes of Drake, Migos, Travis Scott, and the Toronto Raptors.
             In this episode, we talk about the importance of 'the hustle' when it comes to pursuing a creative passion. </p>
    </div>
    <div class="image"><img src="https://images.pexels.com/photos/16674815/pexels-photo-16674815.jpeg?h=400&w=750&fit=crop&dpr=1" width="100%" height="100%" alt=""></div>
</div>

<div class="nav2">
    <ul class="box">
      <p style="font-size: 35px; text-wrap: nowrap;">Nouvelles histoires</p>
      
    </ul>
    <p class="tt">Découvrez nos derniers articles</p>
</div>


<div class="galery">
    <div class="cardss" >
       <div class="img"><img src="https://images.pexels.com/photos/18861544/pexels-photo-18861544.png?h=350&w=250&crop=focalpoint&fit=crop&dpr=1&auto=compress&cs=tinysrgb&loading=lazy" height="100%" width="100%" alt=""></div>
       <div class="text">Photographer Tamara Velazquez is Obsessed with Flowers</div>
    </div>

    <div class="cardss" >
        <div class="img"><img src="https://images.pexels.com/photos/18092497/pexels-photo-18092497.jpeg?h=350&w=250&crop=focalpoint&fit=crop&dpr=1&auto=compress&cs=tinysrgb&loading=lazy" height="100%" width="100%" alt=""></div>
        <div class="text">Anni Roenkae's Abstract Photography is Inspired by Dreams</div>
     </div>

     <div class="cardss" >
        <div class="img"><img src="https://images.pexels.com/photos/17486100/pexels-photo-17486100.png?h=350&w=250&crop=focalpoint&fit=crop&dpr=1&auto=compress&cs=tinysrgb&loading=lazy" height="100%" width="100%" alt=""></div>
        <div class="text">How the Lagos Food Bank Initiative is Raising Awareness Through Photography</div>
     </div>

     <div class="cardss" >
        <div class="img"><img src="https://images.pexels.com/photos/15808829/pexels-photo-15808829.jpeg?h=350&w=250&crop=focalpoint&fit=crop&dpr=1&auto=compress&cs=tinysrgb&loading=lazy" height="100%" width="100%" alt=""></div>
        <div class="text">Kristina Paukshtite Creates Modern Fairy-Tale Photos</div>
     </div>

     <div class="cardss" >
        <div class="img"><img src="https://images.pexels.com/photos/11674387/pexels-photo-11674387.jpeg?h=350&w=250&crop=focalpoint&fit=crop&dpr=1&auto=compress&cs=tinysrgb&loading=lazy" height="100%" width="100%" alt=""></div>
        <div class="text">Milada Vergerova's Playful View of Travel Photography</div>
     </div>
     <div class="cardss" >
        <div class="img"><img src="https://images.pexels.com/photos/6725681/pexels-photo-6725681.jpeg?h=350&w=250&crop=bottom&fit=crop&dpr=1&auto=compress&cs=tinysrgb&loading=lazy" height="100%" width="100%" alt=""></div>
        <div class="text">Juan N. Gomez's Photos Captures Life As It Is</div>
     </div>

     <div class="cardss" >
        <div class="img"><img src="https://images.pexels.com/photos/8747958/pexels-photo-8747958.jpeg?h=350&w=250&crop=entropy&fit=crop&dpr=1&auto=compress&cs=tinysrgb&loading=lazy" height="100%" width="100%" alt=""></div>
        <div class="text">Kristina Paukshtite Creates Modern Fairy-Tale Photos</div>
     </div>

     <div class="cardss" >
        <div class="img"><img src="https://images.pexels.com/photos/2011877/pexels-photo-2011877.jpeg?h=350&w=250&crop=bottom&fit=crop&dpr=1&auto=compress&cs=tinysrgb&loading=lazy" height="100%" width="100%" alt=""></div>
        <div class="text">
            Emma Li Captures the Beauty of Ocean Life
        </div>
     </div>
</div>


<app-footer></app-footer>
